body {
    background: #293141;
    color: white;
    font-family: monospace;

    display: flex;
    justify-content: center;
}

h1 {
    font-size: 4em;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.container {
    width: max-content;
}
